<app-navbar [tipo]="tipo"></app-navbar>

<div class="wrapper">
  <div class="section-registro">

  <div class="form-group col-12">
    <label class="title-user" >Dieta por tiempos</label>
  </div>

  <div class="row mt-3">
    <div class="form-group col-12 d-flex justify-content-center mat1">
      <mat-radio-group (change)="radioChange($event)" [disabled]="editar">
        <mat-radio-button value="Lunes">Lunes</mat-radio-button>
        <mat-radio-button value="Martes">Martes</mat-radio-button>
        <mat-radio-button value="Miercoles">Miercoles</mat-radio-button>
        <mat-radio-button value="Jueves">Jueves</mat-radio-button>
        <mat-radio-button value="Viernes">Viernes</mat-radio-button>
        <mat-radio-button value="Sabado">Sabado</mat-radio-button>
        <mat-radio-button value="Domingo">Domingo</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <br>
  <div class="section">
    <div *ngFor="let contador of contadores; let i = index" class="contador-container">
    <button class="button-2" (click)="decrementar(i)">-</button>
    <span>{{ contador }}</span>
    <button class="button-2" (click)="incrementar(i)">+</button>
    </div>
    <span>Proteínas</span>
    <img src="/assets/images/res.jpeg" alt="" class="section-image"/>
  </div>
  <br>

  <div class="section">
    <div *ngFor="let contador of contadores; let i = index" class="contador-container">
      <button class="button-2" (click)="decrementar(i)">-</button>
      <span>{{ contador }}</span>
      <button class="button-2" (click)="incrementar(i)">+</button>
    </div>
    <span>Frutas</span>
    <img src="/assets/images/manzana.jpeg" alt="" class="section-image"/>
  </div>
  <br>

  <div class="section">
    <div *ngFor="let contador of contadores; let i = index" class="contador-container">
      <button class="button-2" (click)="decrementar(i)">-</button>
      <span>{{ contador }}</span>
      <button class="button-2" (click)="incrementar(i)">+</button>
    </div>
    <span>Verduras</span>
    <img src="/assets/images/Espinacas.jpeg" alt="" class="section-image"/>
  </div>
  <br>

  <div class="section">
    <div *ngFor="let contador of contadores; let i = index" class="contador-container">
      <button class="button-2" (click)="decrementar(i)">-</button>
      <span>{{ contador }}</span>
      <button class="button-2" (click)="incrementar(i)">+</button>
    </div>
    <span>Carbohidratos-legumbres</span>
    <img src="/assets/images/avena.jpeg" alt="" class="section-image"/>
  </div>
  <br><br>

  <div class="section-buttons">
    <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
    <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registar()">Guardar</button>
    <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button>
 </div>

</div>
</div>
