<app-navbar [tipo]="tipo"></app-navbar>

<div class="wrapper">
  <div class="section-registro">

    <!-- Título centrado -->
    <div class="titulo-centrado">
      <div class="form-group col-12">
        <label class="title-user">Dieta por tiempos</label>
      </div>
    </div>

    <br>

    <!-- Contenedor principal para dividir columnas -->
    <div class="contenido">

      <!-- Columna izquierda: Calendario -->
      <div class="columna calendario">
        <div class="calendario-container">
          <br>
          <div class="calendario-header">
            <button (click)="cambiarMes(-1)" class="nav-btn">&#8592;</button>
            <span>{{ obtenerNombreMes(mesActual) }} {{ anioActual }}</span>
            <button (click)="cambiarMes(1)" class="nav-btn">&#8594;</button>
          </div>
          <br>
          <!-- Encabezado de días de la semana -->
          <div class="dias-semana">
            <span *ngFor="let dia of diasSemana" class="dia">{{ dia }}</span>
          </div>
          <br>
          <!-- Grid de días -->
          <div class="calendario-grid">
            <div class="calendario-dia" *ngFor="let dia of dias" [ngClass]="obtenerClase(dia)" (click)="toggleSeleccion(dia)">
              {{ dia.dia || '' }}
            </div>
          </div>
          <br>
          <button (click)="asignarValores()" class="guardar-btn">Guardar valores</button>
        </div>
      </div>

      <!-- Columna derecha: Sección de alimentos -->
      <div class="columna alimentos">
        <div
          *ngFor="let section of contadores; let sectionIndex = index"
          class="section"
        >
          <div class="contador-container">
            <button class="button-2" (click)="decrementar(sectionIndex)">-</button>
            <span>{{ section }}</span>
            <button class="button-2" (click)="incrementar(sectionIndex)">+</button>
          </div>

          <span *ngIf="sectionIndex === 0">Proteínas</span>
          <span *ngIf="sectionIndex === 1">Frutas</span>
          <span *ngIf="sectionIndex === 2">Verduras</span>
          <span *ngIf="sectionIndex === 3">Carbohidratos-legumbres</span>

          <img *ngIf="sectionIndex === 0" src="/assets/images/res.jpeg" alt="" class="section-image"/>
          <img *ngIf="sectionIndex === 1" src="/assets/images/manzana.jpeg" alt="" class="section-image"/>
          <img *ngIf="sectionIndex === 2" src="/assets/images/Espinacas.jpeg" alt="" class="section-image"/>
          <img *ngIf="sectionIndex === 3" src="/assets/images/avena.jpeg" alt="" class="section-image"/>
        </div>
      </div>
    </div>
    <br>

    <div class="section-buttons">
      <button class="btn btn-danger" (click)="cancelar()">Cancelar</button>
      <button class="btn btn-primary" type="submit" (click)="guardar()">Guardar cambios</button>
    </div>

  </div>
</div>
