<app-navbar [tipo]="tipo"></app-navbar>
<div class="wrapper">
  <div class="section-registro">

  <div class="form-group col-12">
    <label class="title-user" >Dieta por tiempos</label>
  </div>

  <div class="row mt-3">
    <div class="form-group col-12 d-flex justify-content-center mat1">
      <mat-radio-group (change)="radioChange($event)" [disabled]="editar">
        <mat-radio-button value="Lunes">Lunes</mat-radio-button>
        <mat-radio-button value="Martes">Martes</mat-radio-button>
        <mat-radio-button value="Miercoles">Miercoles</mat-radio-button>
        <mat-radio-button value="Jueves">Jueves</mat-radio-button>
        <mat-radio-button value="Viernes">Viernes</mat-radio-button>
        <mat-radio-button value="Sabado">Sabado</mat-radio-button>
        <mat-radio-button value="Domingo">Domingo</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="section">
    <button (click)="toggleExpanded()">{{ expanded ? '-' : '+' }}</button>
    <span>Proteina</span>
    <img *ngIf="expanded" [src]="" alt="" class="section-image"/>
  </div>
  <br>
  <div class="section">
    <button (click)="toggleExpanded()">{{ expanded ? '-' : '+' }}</button>
    <span>Frutas</span>
    <img *ngIf="expanded" [src]="" alt="" class="section-image"/>
  </div>
  <br>
  <div class="section">
    <button (click)="toggleExpanded()">{{ expanded ? '-' : '+' }}</button>
    <span>Verdura</span>
    <img *ngIf="expanded" [src]="" alt="" class="section-image"/>
  </div>
  <br>
  <div class="section">
    <button (click)="toggleExpanded()">{{ expanded ? '-' : '+' }}</button>
    <span>Carbohidratos-legumbres</span>
    <img *ngIf="expanded" [src]="" alt="" class="section-image"/>
  </div>
  <br>
  <div class="section-buttons">
    <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
    <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registar()">Guardar</button>
    <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button>
 </div>

</div>
</div>
