.wrapper{
  width: 100%;
  //height: 100vh;
}
.bg-light{
  background-color: #114c5f!important;
}

.navbar{
  padding: 0 0 0 0!important;
}

.navbar-brand{
  padding-left: 20px;
  font-size: 28px;
  font-family: bold;
  text-align: center;
  opacity: 1;
  color: #114c5f;
  margin: 0 0 0 0!important;
}
.nav-link{
  font-size: 20px;
  font-family: bold;
  text-align: center;
  opacity: 1;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0 0 0 0!important;
}

li a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
}

 //Change the link color on hover
 li a:hover {
  background-color: #2591B5;
  color: #FFFFFF;
  margin: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  font-size: 20px;
  font-family: bold;
  text-align: center;
  opacity: 1;
  font-weight: bold;
  color: #FFFFFF;
}
.active {
  background-color: #2DBB55;
  margin: 0 0 0 0!important;
}

.bi-person-circle{
  font-size: 20pt;
  color: #FFFFFF;
}
.dropdown-toggle{
  font-size: 15pt;
  color: #FFFFFF;
}
.dropdown-menu[data-bs-popper] {
  right: 0!important;
  left: auto;
}
.navbar-toggler-icon{
  color: #FFFFFF;
}
.navbar-toggler-icon {
  vertical-align: 0;
}

img{
  height: 80%;
  width: 30%;
  padding: 3% 1% 1% 3%;
}
