.wrapper {
  height: 160%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #2591B5;
}

.section-registro {
  width: 180%;
  height: 180%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  z-index: 1;
  position: relative;
  background-color: #8ABBCB;
}

.body-registro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-color: #8ABBCB;
}

.title-user {
  font-size: 28px;
  font-family: 'bold', sans-serif;
  color: #231F20;
  text-transform: capitalize;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.mat-input, mat-form-field {
  width: 100% !important;
  margin-bottom: 1rem;
}

.section-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.btn-primary, .btn-danger {
  width: 208px;
  height: 48px;
  border-radius: 8px;
  font-family: 'bold';
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #0f0203;
  border-color: #0f0203;

  &:hover {
    background-color: #DC3545;
    border-color: #DC3545;
  }
}

.btn-danger {
  background-color: #eb1313;

  &:hover {
    background-color: #C82333;
  }
}

.eye-icon {
  cursor: pointer;
  color: #7d6c6c;

  &:hover {
    color: #495057;
  }
}

.invalid-feedback {
  display: block !important;
  width: 100%;
  font-size: 0.75rem;
  color: #ff5b5b;
  font-family: bold;
}

.image-gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
}
//camvios
.img-slider {
  width: 25%;
  height: 25%;
  height: auto;
  border-radius: 8px;
  animation: randomPosition 10s ease-in-out infinite alternate;
  transition: transform 0.5s ease;
  opacity: 0;
  transform: scale(0.8);
  animation: fadeInScale 1.5s ease-in-out forwards, randomPosition 10s ease-in-out infinite alternate;
}

@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes randomPosition {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(10px, -10px);
  }
  75% {
    transform: translate(-10px, -10px);
  }
}

.img-slider:hover {
  transform: scale(1.05); // Efecto de ampliación al hacer hover
}


