<div class="wrapper">
  <div class="header-home">
    <app-navbar [rol]="rol"></app-navbar>
  </div>
  <div class="body-nutriologo">
    <div class="row mt-5 mb-5">
      <div class="col-12">
        <div class="containe">
        <div class="row mt-3 mb-5" style="text-align: center;">
          <div class="alert alert-primary" role="alert">
        <span class="title-perfil">Bienvenido {{name_user}}</span>
        <span class="title-perfil">{{rol}}</span>
      </div>
    </div>
  </div>
</div>
</div>
    <div class="container">
      <div class="row mt-3 mb-5" style="text-align: center;">
        <div class="col-12">
          <div class="alert alert-primary" role="alert">
            <span class="title-table">Lista de pacientes asignados</span>
          </div>
        </div>
      </div>
