<app-navbar [tipo]="tipo"></app-navbar>
<div class="wrapper">
  <div class="header-home"></div>
  <div class="body-nutriologo">
    <div class="row mt-5 mb-5">
      <div class="col-12">
        <div class="container">
          <div class="row mt-3 mb-5 text-center">
            <div class="col-12">
              <div class="alert alert-primary" role="alert">
                <span class="title-table">Bienvenidos</span>
              </div>
            </div>
          </div>

          <div class="row mt-3 mb-5 text-center1">
            <div class="col-3">

            </div>
          </div>
          <!-- Lista de pacientes generada dinámicamente -->
          <div class="row">
            <div class="col-12">
              <ul class="list-group">
                <!-- Utiliza *ngFor para iterar sobre el arreglo de pacientes -->
                <li class="list-group-item d-flex justify-content-between align-items-center text-li">
                  Gracias por participar en esta prueba
                </li>
                <br>
                <li class="list-group-item d-flex justify-content-between align-items-center text-li-2">
                  - por favor ayudanos a completar las tareas que se te plantearón para responder el cuestionario
                </li>
                <br>
                <li class="list-group-item d-flex justify-content-between align-items-center text-li-2">
                  - el apartado de las tareas a completar es la sección de "Registrar Consumo"
                </li>
                <br>
                <li class="list-group-item d-flex justify-content-between align-items-center text-li-2">
                  - dale un vistazo a la sección de "Estadísticas" para que compartas tu opinión
                </li>
                <br>
                <li class="list-group-item d-flex justify-content-between align-items-center text-li-2">
                  - puedes navegar por la aplicación para que al final compartas tu opinión acerca de la misma
                </li>
                <br>
                <li class="list-group-item d-flex justify-content-between align-items-center text-li-2">
                  - al final tendras un apartado para colocar tus comentarios
                </li>
                <br>
                <li class="list-group-item d-flex justify-content-between align-items-center text-li-2">
                  - tu opinión será de gran ayuda para mejorar la aplicación
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
