<div class="container">

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Nombre(s)</mat-label>
      <input matInput formControlName="first_name" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Apellidos</mat-label>
      <input matInput formControlName="last_name" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cédula</mat-label>
      <input matInput formControlName="cedula" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono" type="tel" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" type="password" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Enviar</button>
  </form>
</div>