<section class="login">


  <div class="wrapper">
<div class="section-center">
<div class="card">
<div class="card-body">
<h3 class="title">Iniciar Sesión</h3>
<div class="icon">
<i class="bi bi-person-circle"></i> <!-- Icono de usuario -->
</div>

          <div class="container-inputs">   <!-- contiene los input -->
<div class="pt-3 mb-3">
<input type="email" [(ngModel)]="username" class="form-control" id="email" placeholder="Email">
<div *ngIf="errors.username" class="invalid-feedback">{{ errors.username }}</div>
</div>
<!-- Input para contraseña con ícono dentro del input -->
<div class="containe-inputs">
<div class="pt-3 mb-3">
  <div class="input-group input-group-merge">
    <input type="{{type}}" [(ngModel)]="password" id="show-password" name="password_user" class="form-control pwd" placeholder="Contraseña" (keyup.enter)="login()">
    <div class="input-group-text" id="show-password" data-password="false">
      <i *ngIf="type == 'password'" class="bi bi-eye-fill" (click)="showPassword()"></i>
      <i *ngIf="type == 'text'" class="bi bi-eye-slash-fill" (click)="showPassword()"></i>
    </div>
  </div>
  <div *ngIf="errors.password" class="invalid-feedback">{{ errors.password }}</div>
</div>
</div>


            <!-- Label olvidé contraseña -->
<div class="mb-3 text-center">
<label class="form-check-label" for="checkbox-signin"><b>Paciente:</b> En caso de no contar con una cuenta, favor de acudir con su nutriologo</label>
<label class="form-check-label" for="checkbox-signin"><b>Nutriologo:</b> En caso de no contar con una cuenta, presione en registrar</label>
</div>

            <!-- Botones -->
<br>
<!-- cambios agregados por david-->
<div class="d-flex flex-column align-items-center mb-3 w-100" style="text-align: center;">
  <button class="btn btn-primary" type="submit" (click)="login()" [disabled]="isLoading">
    Iniciar Sesión
  </button>

  <div *ngIf="isLoading" class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>

  <label class="form-check-label pt-3" for="checkbox-signin" (click)="registrar()">
    ¿No tienes una cuenta? <span class="register">Registrate</span>
  </label>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
