.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('/assets/images/logo.jpeg') no-repeat center center;
  background-size: cover;

  .wrapper {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 1;
  }

  .title {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    color: #333;
    margin-bottom: 15px;
  }

  .icon {
    text-align: center;
    font-size: 60px;
    color: #333;
    margin-bottom: 20px;
  }

  .container-inputs {
    .form-control {
      width: 100%;
      padding: 12px 15px;
      border: 1px solid #ddd;
      border-radius: 8px;
      font-size: 16px;
    }

    .containe-inputs {
      .form-control {
        width: 100%;
        padding: 11.5px 15px;
        border: 1px solid #ddd;
        //border-left: none;
        border-right: none;
        border-radius: 8px;
        font-size: 16px;
      }
    }

    .input-group {
      display: flex;
      align-items: center;

      .form-control.pwd {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        flex: 1; // Asegura que el input ocupe el espacio necesario y el icono quede alineado
      }

      .input-group-text {
        background-color: transparent;
        border: 1px solid #ddd;
        border-left: none; /* Elimina el borde que separa el ícono del campo de entrada */
        cursor: pointer;
        padding: 9.6px 12px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%; // Asegura que el icono tenga la misma altura que el campo de entrada
      }

      .input-group-text i {
        font-size: 1.2em;
        color: #333;
      }
    }

    .btn-primary {
      width: 100%;
      padding: 15px;
      font-size: 18px;
      font-weight: bold;
      background-color: #000;
      color: #fff;
      border-radius: 8px;
    }

    .invalid-feedback {
      color: red;
    }

    .register {
      color: #000;
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
    }

    label {
      font-size: 14px;
    }
  }
}

/* Responsivo para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  .login {
    .wrapper {
      max-width: 95%;
      padding: 20px;
    }

    .container-inputs .form-control {
      font-size: 14px;
    }

    .container-inputs .btn-primary {
      font-size: 16px;
    }
  }
}
