<div class="patients-container">
  <header>
    <h2>Registro de Consumo Calórico</h2>
  </header>
  <main>
    <section>
      <article class="card">
        <header>
          <h3>🍽 Agregar alimento</h3>
        </header>
        <form>
          <input-container>
            <input-label>Alimento</input-label>
            <input-component placeholder="Ej: Manzana"></input-component>
          </input-container>
          <div>
            <input-container>
              <input-label>Cantidad</input-label>
              <input-component placeholder="Ej: 100"></input-component>
            </input-container>
            <input-container>
              <input-label>Unidad</input-label>
              <select-component>
                <option>Gramos</option>
                <option>Unidades</option>
              </select-component>
            </input-container>
            <input-container>
              <button-component>Agregar</button-component>
            </input-container>
          </div>
        </form>
      </article>
      <article class="card">
        <header>
          <h3>🔥 Calorías totales</h3>
        </header>
      </article>
    </section>
    <section>
      <article class="card">
        <header>
          <h3>🍽 Alimentos consumidos hoy</h3>
          <app-consumed-table></app-consumed-table>
        </header>
      </article>
      <article class="card">
        <header>
          <h3>📊 Distribución de macro nutrientes</h3>
        </header>
      </article>
    </section>
    <section>
      <article class="card">
        <header>
          <h3>📈 Resumen diario</h3>
        </header>
        <div class="grid-cols-2-layout">
          <input-container>
            <input-label>🔥 Calorías: {{ macronutrientes.calorias }} / {{ macronutrientes.caloriasMax }}</input-label>
            <progress-bar [value]="macronutrientes.calorias" [max]="macronutrientes.caloriasMax" />
          </input-container>
          <input-container>
            <input-label>🍗 Proteínas: {{ macronutrientes.proteinas }}g / {{ macronutrientes.proteinasMax }}g</input-label>
            <progress-bar [value]="macronutrientes.proteinas" [max]="macronutrientes.proteinasMax" />
          </input-container>
          <input-container>
            <input-label>🍞 Carbohidratos: {{ macronutrientes.carbohidratos }}g / {{ macronutrientes.carbohidratosMax }}g</input-label>
            <progress-bar [value]="macronutrientes.carbohidratos" [max]="macronutrientes.carbohidratosMax" />
          </input-container>
          <input-container>
            <input-label>🥑 Grasas: {{ macronutrientes.grasas }}g / {{ macronutrientes.grasasMax }}g</input-label>
            <progress-bar [value]="macronutrientes.grasas" [max]="macronutrientes.grasasMax" />
          </input-container>
        </div>
      </article>
    </section>
  </main>
</div>
