.patients-container {
    max-width: 80dvw;
    margin: 0 auto;
    padding: 2rem 0;
}

.header-top{
  display: flex;
  justify-content: space-between;
  .btn-historial{
    background-color: white!important;
  }
}


header h2 {
    font-size: 1.75rem;
}

header h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.25rem;
}

main {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: repeat(3, max-content);
    gap: 2rem;
}

section {
    display: grid;
    gap: 2rem;
}

section:nth-child(1) {
    grid-template-columns: 1fr 33%;
}

section:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section:nth-child(2)>.card {
    min-height: 30dvh;
}

section:nth-child(odd) {
    height: fit-content;
}

.grid-cols-2-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

form {
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr 1fr;
}

form>div {
    display: grid;
    grid-template-columns: repeat(2, auto) max-content;
    gap: 1rem;
    align-items: end;
}

.main_calories_container {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
}

.main_calories_container input-label {
    font-size: 2.5rem;
    margin: 1.5rem 1.5rem 2.5rem;
}

@media (width <= 640px){
    section {
        grid-template-columns: 1fr !important;
    }

    .header-top{
        flex-direction: column;
        padding-bottom: 1rem;
      }

      form>div {
        grid-template-columns: 1fr 1fr;
      }

      form>div>input-container:last-child, form>div>div:last-child {
        grid-column-start: 2;
        justify-items: end;
      }

      .grid-cols-2-layout {
        grid-template-columns: 1fr;
      }
}