<div class="patients-container">
  <header>
    <h2>Registro de Consumo Calórico</h2>
  </header>
  <main>
    <section>
      <article class="card">
        <header>
          <h3>Agregar alimento</h3>
        </header>
      </article>
      <article class="card">
        <header>
          <h3>Calorías totales</h3>
        </header>
      </article>
    </section>
    <section>
      <article class="card">
        <header>
          <h3>Alimentos consumidos hoy</h3>
        </header>
      </article>
      <article class="card">
        <header>
          <h3>Distribución de macro nutrientes</h3>
        </header>
      </article>
    </section>
    <section>
      <article class="card">
        <header>
          <h3>Resumen diario</h3>
        </header>
      </article>
    </section>
  </main>
</div>
