.patients-container {
    max-width: 80dvw;
    margin: 0 auto;
    padding: 2rem 0;
}

header>h2 {
    font-size: 1.75rem;
}

header>h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.25rem;
}

main {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

section {
    display: grid;
    gap: 2rem;
}

section:nth-child(1) {
    grid-template-columns: 1fr 33%;
}

section:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-cols-2-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    /* Adjust gap as needed */
}